# Configuración de la API
NEXT_PUBLIC_API_URL=https://api.tacosborabora.com

# Configuración de autenticación
NEXTAUTH_URL=https://www.tacosborabora.com
NEXTAUTH_SECRET=your-secret-key-here

# Configuración de entorno
NODE_ENV=production
