# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=tacosborabora

# JWT
JWT_SECRET=tu_super_secreto_aqui
JWT_ALGORITHM=HS256

# Primer usuario administrador
FIRST_SUPERUSER=admin@tacosborabora.com
FIRST_SUPERUSER_PASSWORD=admin123

# Configuración de la aplicación
SECRET_KEY=tu_clave_secreta_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=10080  # 7 días

# Configuración de CORS (separar por comas)
CORS_ORIGINS=http://localhost:3000,http://localhost:8000,http://192.168.0.16:3000
